:root {
  --body-background-color: #ffff;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --link-color: #2196f3;
  --footer-background-color: #2f303a;
  --team-section-color: #f5f4fa;
  --studio-color: #000000;
  --icon-color: #afb1b8;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: var(--body-background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ececec;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-list .nav-item {
  margin-right: 50px;
}

.nav-list .nav-item:last-child {
  margin-right: 0;
}

.contacts-list a {
  -webkit-transition-property: color fill;
  transition-property: color fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list a:hover {
  color: var(--link-color);
  fill: currentColor;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.active {
  color: var(--link-color);
}

.nav-link.active::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  margin-top: 28px;
  padding-bottom: 0;
  width: 100%;
  height: 4px;
  background: var(--link-color);
  border-radius: 4px;
}

.nav-list .nav-link.current {
  color: var(--link-color);
}

.nav .logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo {
  display: block;
  color: var(--link-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.studio {
  color: var(--studio-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.contacts-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 0;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  fill: #757575;
  -webkit-transition-property: color fill;
  transition-property: color fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  fill: var(--link-color);
  color: var(--link-color);
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-list .item + .item {
  margin-left: 50px;
}

.icon {
  margin-right: 10px;
}
/*# sourceMappingURL=main.css.map */