.nav .logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo {
  display: block;
  color: var(--link-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.studio {
  color: var(--studio-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
